@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <title>React App</title>
    <link href="~/css/home/1.ae7883f8.chunk.css" rel="stylesheet">
</head>
<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script src="~/js/home/start.js"></script>
    <script src="~/js/home/1.1332cb4b.chunk.js"></script>
    <script src="~/js/home/main.74c85a13.chunk.js"></script>
</body>
</html>